GTDemo/GTDemoContent
GTDemo/GTDemo/GameThumbnail.png
GTDemo/GTDemo/Game.ico
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.pidb
obj/
[Rr]elease*/